
pyim_align:
    transposon: data/raw/sb/transposon/sb.transposon.fa
    linker: data/raw/sb/transposon/sb.linker.fa
    contaminants: data/raw/sb/transposon/sb.contaminants.fa
    index: data/interim/references/bowtie/Mus_musculus.GRCm38.dna.primary_assembly
    barcodes: data/raw/sb/transposon/sb.barcodes.fa
    options:
        - --merge_distance 5
        - --min_support 2
        - --min_length 15
        - --min_mapq 37
        # - --min_mapq 3  # Excl. alignments with 2+ mismatches.

pyim_cis:
    pattern: TA
    threads: 20
    options:
        - --scales 10000 30000
        - --iterations 10000
        - --chromosomes 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 X

pyim_annotate:
    reference_gtf: data/external/ensembl/Mus_musculus.GRCm38.76.gtf
    preset: SB
    options:
        - --blacklist En2 Foxf2
        - --closest
